<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>Crud</title>
</head>
<body>

<form action="#" th:object="${question}" method="post">

    <label for="code">Code</label>
    <input type="text" th:value="${question.getCode()}" th:name="code" id="code" placeholder="Code">

    <label for="answer">Answer</label>
    <input type="text" th:value="${question.getAnswer()}" th:name="answer" id="answer" placeholder="Answer">

    <label for="points">Points</label>
    <input type="number" th:value="${question.getPoints()}" th:min="0" th:name="points" id="points" placeholder="Points">

    <input type="submit" value="Update">
</form>

</body>
</html>