<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>Crud</title>
</head>
<body>

<form action="#" th:action="@{/add}" th:object="${question}" method="post">

    <label for="code">Code</label>
    <input type="text" th:name="code" id="code" placeholder="Code">

    <label for="answer">Answer</label>
    <input type="text" th:name="answer" id="answer" placeholder="Answer">

    <label for="points">Points</label>
    <input type="number" th:min="0" th:name="points" id="points" placeholder="Points">

    <input type="submit" value="Add User">
</form>


<div th:switch="${questions}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Questions</h2>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>code</th>
                <th>answer</th>
                <th>points</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question : ${questions}">
                <td th:text="${question.getId()}"></td>
                <td th:text="${question.getCode()}"></td>
                <td th:text="${question.getAnswer()}"></td>
                <td th:text="${question.getPoints()}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${question.id})}">Edit</a>
                </td>
                <td>
                    <form action="#" th:action="@{/delete/{id}(id=${question.id})}" method="post">
                        <input type="submit" value="delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>